In [13]:
import pandas as pd

In [14]:
simple_data = ['andre', 'joseiah','lincoln','matt']
named_column = {"Firstname": simple_data,
                "Lastname": ['beans', 'gong', 'pallete', 'renne'],
                "Age": [12,14, 45, 56],
                "Hobby":['Reading','Soccer', 'Cycling', 'Coding']}
# print(simple_data)

In [15]:
data = pd.DataFrame(named_column)
print(data)

  Firstname Lastname  Age    Hobby
0     andre    beans   12  Reading
1   joseiah     gong   14   Soccer
2   lincoln  pallete   45  Cycling
3      matt    renne   56   Coding

In [16]:
data_select_column = data['Age']
print(data_select_column)

0    12
1    14
2    45
3    56
Name: Age, dtype: int64

In [17]:
data_select_row = data.iloc[1]["Firstname"]
print(data_select_row)

joseiah

In [18]:
weight = []

for i in range(len(data)):
    weight_value = (data["Age"][i]/10) + 55
    weight.append(weight_value)

data["weight"] = weight
print(data)

  Firstname Lastname  Age    Hobby  weight
0     andre    beans   12  Reading    56.2
1   joseiah     gong   14   Soccer    56.4
2   lincoln  pallete   45  Cycling    59.5
3      matt    renne   56   Coding    60.6

In [19]:
height = []
for i in range(len(data)):
    height_value = data["Age"][i]/data["weight"][i]*100
    height_value_2 = round(height_value, 1)
    height.append(height_value_2)
data["height"] = height
print(data)

  Firstname Lastname  Age    Hobby  weight  height
0     andre    beans   12  Reading    56.2    21.4
1   joseiah     gong   14   Soccer    56.4    24.8
2   lincoln  pallete   45  Cycling    59.5    75.6
3      matt    renne   56   Coding    60.6    92.4

In [20]:
# bmi formula = weight / (height ** 2)

bmi = []

for i in range(len(data)):
    bmi_value = round(data["weight"][i]/(data["height"][i]**2),1)
    bmi.append(bmi_value)
data["bmi"] = bmi
print(data)

  Firstname Lastname  Age    Hobby  weight  height  bmi
0     andre    beans   12  Reading    56.2    21.4  0.1
1   joseiah     gong   14   Soccer    56.4    24.8  0.1
2   lincoln  pallete   45  Cycling    59.5    75.6  0.0
3      matt    renne   56   Coding    60.6    92.4  0.0

In [21]:
data_select_3 = data.iloc[1:3]
print(data_select_3)

  Firstname Lastname  Age    Hobby  weight  height  bmi
1   joseiah     gong   14   Soccer    56.4    24.8  0.1
2   lincoln  pallete   45  Cycling    59.5    75.6  0.0

In [22]:
data_select_4 = data.iloc[1:3]["height"]
print(data_select_4)

1    24.8
2    75.6
Name: height, dtype: float64

In [23]:
print(data)

  Firstname Lastname  Age    Hobby  weight  height  bmi
0     andre    beans   12  Reading    56.2    21.4  0.1
1   joseiah     gong   14   Soccer    56.4    24.8  0.1
2   lincoln  pallete   45  Cycling    59.5    75.6  0.0
3      matt    renne   56   Coding    60.6    92.4  0.0

In [24]:
data_csv_file = data.to_csv('data.csv')
print(data_csv_file)

None

In [26]:
data_excel_file = data.to_excel('data.xlsx')
print(data_excel_file)

None