## Statistical analysis on the superstore dataset

In [2]:
# Importing the required modules for the project.

import pandas as pd        # To create and manipulate pandas DataFrames 
import numpy as np         # for further statistical analysis of DataFrames
import xlrd                # for reading excel workbooks/worksheets.

In [12]:
# Reading the excel data into the df variable.

df = pd.read_excel('Superstore.xls')

In [13]:
# Taking a closer look at the data through the first 5 records of the whole dataset using the head() function.

df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2020-152156,2020-11-08,2020-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2020-138688,2020-06-12,2020-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2019-108966,2019-10-11,2019-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [14]:
# Checking for if there's any duplicate values inside the datatset

df.duplicated().sum()

0

In [15]:
# Listing and taking a closer look at all the columns inside the dataset. 

df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country/Region', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [43]:
# selecting a list of sample columns of interest i.e ["Product ID", "Quantity",
# "Sales", "Profit"] to take a look at the first 5 values / records from each using the head() function.


mask_sample_df = df[['Product ID', 'Product Name', 
                     'Category', 'Sub-Category','Quantity', 'Sales', 'Profit']].head()
mask_sample_df

,Product ID,Product Name,Category,Sub-Category,Quantity,Sales,Profit
0,FUR-BO-10001798,Bush Somerset Collection Bookcase,Furniture,Bookcases,2,261.9600,41.9136
1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture,Chairs,3,731.9400,219.5820
2,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Office Supplies,Labels,2,14.6200,6.8714
3,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Furniture,Tables,5,957.5775,-383.0310
4,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Office Supplies,Storage,2,22.3680,2.5164

In [30]:

all_different_products = df['Product Name'].unique()
all_different_products

array(['Bush Somerset Collection Bookcase',
       'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back',
       'Self-Adhesive Address Labels for Typewriters by Universal', ...,
       'Eureka Hand Vacuum, Bagless', 'LG G2',
       'Eldon Jumbo ProFile Portable File Boxes Graphite/Black'],
      dtype=object)

In [49]:
type(all_different_products)

numpy.ndarray

In [52]:
print(np.count_nonzero(all_different_products))

1849

In [45]:
all_diff_categories = df['Category'].unique()
all_diff_categories

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [53]:
type(all_diff_categories)

numpy.ndarray

In [54]:
print(np.count_nonzero(all_diff_categories))

3

In [56]:
all_diff_subcategories = df['Sub-Category'].unique()
all_diff_subcategories

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [57]:
print(np.count_nonzero(all_diff_subcategories))

17

In [27]:
# Finding the overall sum of the "Quantinty column" in the whole dataset 

Sum_prod_quantity = df[['Quantity']].sum().sum()
print(f"Overall Product Quantity: {Sum_prod_quantity}")

Overall Product Quantity: 37873

In [69]:
# Sample stats on the Sales column values.
# finding the sum of all the sales made in the dataset using the "Sales" values provided.

print(round(float(df.loc[0:,'Sales'].sum()),3))

2297200.86

In [71]:
# Sample stats on the Profit column values.
# finding the sum of all the Profit made in the dataset using the "Profit" values provided.

print(round(float(df.loc[0:,'Profit'].sum()),3))

286397.022

### Looking at he 5-number summary on a few chosen columns i.e Q1(quartile of the lower quarter/left hand side of the dataset),Q2(median of the whole dataset), Q3(quartile of the higher quarter/right hand side of the data), Mean value(average value of the whole dataset), Min(lowest value of the dataset), Max(Highest value of the dataset)

#### Quantity, Sales and Profits columns.

#### Sorting the data subset by the Sales column in ascending order

In [137]:
mask_data = df[["Quantity","Sales","Profit"]].sort_values(by = "Sales", ascending = True)
mask_data.head() # first five records of the subset data

      Quantity  Sales  Profit
4101         1  0.444 -1.1100
9292         1  0.556 -0.9452
8658         1  0.836 -1.3376
4711         1  0.852 -0.5964
2106         1  0.876 -1.4016

In [138]:
mask_data.tail() # last five records of the subset data.

      Quantity      Sales     Profit
4190         3  10499.970  5039.9856
2623         4  11199.968  3919.9888
8153         4  13999.960  6719.9808
6826         5  17499.950  8399.9760
2697         6  22638.480 -1811.0784

#### Average Values for the above columns of interest.

In [111]:
average_quantity = mask_data.loc[0:,'Quantity'].mean().mean().round(2)
print(f"Average Quantity: {average_quantity}")

Average Quantity: 4.73

In [108]:
average_sales = mask_data.loc[0:,'Sales'].mean().mean().round(2)
print(f"Sales Average: {average_sales}")

Sales Average: 859.87

In [112]:
average_profit = mask_data.loc[0:,'Profit'].mean().mean().round(2)
print(f"Average Profit: {average_profit}")

Average Profit: 102.2

#### Highest values made within the above columns of interest.

In [116]:
Max_quantity = mask_data.loc[0:,'Quantity'].max().max().round(2)
print(f"Highest Quantity sold in the dataset: {Max_quantity}")

Highest Quantity sold in the dataset: 14

In [117]:
Max_sales = mask_data.loc[0:,'Sales'].max().max().round(2)
print(f"Highest Sale made in the dataset: {Max_sales}")

Highest Sale made in the dataset: 22638.48

In [118]:
Max_profit = mask_data.loc[0:,'Profit'].max().max().round(2)
print(f"Highest Profit made in the dataset: {Max_profit}")

Highest Profit made in the dataset: 8399.98

#### Lowest values made within the above columns of interest.

In [124]:
minimum_quantity = mask_data.loc[0:,'Quantity'].min().min().round(2)
print(f"Lowest Quantity value in the dataset: {minimum_quantity}")

Lowest Quantity value in the dataset: 1

In [125]:
minimum_sales = mask_data.loc[0:,'Sales'].min().min().round(2)
print(f"Lowest Sales value made in the dataset: {minimum_sales}")

Lowest Sales value made in the dataset: 261.96

In [126]:
minimum_profit = mask_data.loc[0:,'Profit'].min().min().round(2)
print(f"Lowest Profit value made in the dataset: {minimum_profit}")

Lowest Profit value made in the dataset: -6599.98

#### Range of values between the highest and lowest values in the above sample column data

In [129]:
Range = Max_sales - minimum_sales 
print('Sales diff: ', Range)

Sales diff:  22376.52

In [130]:
Range = Max_quantity - minimum_quantity 
print('Quantity diff: ', Range)

Quantity diff:  13

In [135]:
Range = Max_profit - (minimum_profit)
print('Profit diff: ', Range)

Profit diff:  14999.96

### Individual column drill down stats i.e Sales Column as an example.

#### Q2(Median values of the above columns)

In [91]:
median_sales = Sales.median().median().round(2)
print(f"Median sales range / 50th percentile: {median_sales}")

Median sales range / 50th percentile: 54.49

#### Q1(Median of the lower quarter of the data/ 25th percentile of the data)

In [93]:
Q1 = np.percentile(Sales, 25)
print('25th percentile of the whole sales column is: ', Q1)

25th percentile of the whole sales column is:  17.28

#### Q3(Median of the upper quarter of the data/ 75th percentile of the data)

In [95]:
Q3 = np.percentile(Sales, 75)
print('75th percentile of the whole Sales column is: ', Q3)

75th percentile of the whole Sales column is:  209.94

#### Interquartile Range Value for the sales column

In [98]:
Interquartile_range = Q3 - Q1
print('The interquartile range of the whole Sales column data is: ', Interquartile_range)

The interquartile range of the whole Sales column data is:  192.66

#### Total sum of all sales values in the Sales column

In [99]:
sum_of_total_sales = Sales.sum().round(2)
print(sum_of_total_sales)

Sales    2297200.74
dtype: float64