## This project involves simple data wrangling in python Dictionaries, lists using a python module called Pandas.
 ### It's goal is to showcase how amazing python is when it comes to data wrangling and simple analysis.

In [1]:
# Importing and running the pandas module to be used in the project. 

import pandas as pd

In [3]:
# Creating a python Dictionary called "named_column" with "key:Value" pairs as shown below. 

simple_data = ['andre', 'joseiah','lincoln','matt']
named_column = {"Firstname": simple_data,
                "Lastname": ['beans', 'gong', 'pallete', 'renne'],
                "Age": [12,14, 45, 56],
                "Hobby":['Reading','Soccer', 'Cycling', 'Coding']}
# print(simple_data)

In [4]:
# Converting the above Dictionary to a pandas DataFrame called "data"

data = pd.DataFrame(named_column)
print(data)

  Firstname Lastname  Age    Hobby
0     andre    beans   12  Reading
1   joseiah     gong   14   Soccer
2   lincoln  pallete   45  Cycling
3      matt    renne   56   Coding

In [5]:
# Example shwoing how to select a single column from a pandas DataFrame through first assigning the targeted column to a named variable. 

data_select_column = data['Age']
print(data_select_column)

0    12
1    14
2    45
3    56
Name: Age, dtype: int64

In [6]:
# Example showing to select a specific value from a column using the it's index / position in a desired column i.e ".iloc[]"

data_select_row = data.iloc[1]["Firstname"]
print(data_select_row)

joseiah

In [7]:
# Creating an empty list of values called "Weight", 
# programatically calculating the weight values and assigning them to the "weight_value" variable as shown below,
# appending the calculated "weight_value" values to the empty weight list,
# finally adding the "weight_value" resultant list of values as a new column called "weight" to the data above.


weight = []

for i in range(len(data)):
    weight_value = (data["Age"][i]/10) + 55
    weight.append(weight_value)

data["weight"] = weight
print(data)

  Firstname Lastname  Age    Hobby  weight
0     andre    beans   12  Reading    56.2
1   joseiah     gong   14   Soccer    56.4
2   lincoln  pallete   45  Cycling    59.5
3      matt    renne   56   Coding    60.6

In [8]:
# Creating an empty list of values called "height", 
# programatically calculating the height values and assigning them to the "height_value" variable,
# rounding off trhe resultant height_value to a single decimal point and assigning it to a new variable called "height_value_2" as shown below,
# appending the calculated "heightt_value_2" values to the empty height list,
# finally adding the "height_value_2" resultant list of values as a new column called "height" to the data above.



height = []
for i in range(len(data)):
    height_value = data["Age"][i]/data["weight"][i]*100
    height_value_2 = round(height_value, 1)
    height.append(height_value_2)
data["height"] = height
print(data)

  Firstname Lastname  Age    Hobby  weight  height
0     andre    beans   12  Reading    56.2    21.4
1   joseiah     gong   14   Soccer    56.4    24.8
2   lincoln  pallete   45  Cycling    59.5    75.6
3      matt    renne   56   Coding    60.6    92.4

In [9]:
# bmi formula = weight / (height ** 2)

# Using a few steps as in the immediate 2 cells above, replacing the variables and programatically performing calculations,
# calculated the "body mass index" i.e bmi of each person using the bmi formula highlighted above.


bmi = []

for i in range(len(data)):
    bmi_value = round(data["weight"][i]/(data["height"][i]**2),1)
    bmi.append(bmi_value)
data["bmi"] = bmi
print(data)

  Firstname Lastname  Age    Hobby  weight  height  bmi
0     andre    beans   12  Reading    56.2    21.4  0.1
1   joseiah     gong   14   Soccer    56.4    24.8  0.1
2   lincoln  pallete   45  Cycling    59.5    75.6  0.0
3      matt    renne   56   Coding    60.6    92.4  0.0

In [12]:
# The example below shows how to select a whole record from a pandas DataFrame.
# Using list indexes and slicing, the example below shows how to select from the 2nd record top the 3rd record of the dataset.
# Python indexing always starts at zero counting upwards unless otherwise dealing with different instances of the data.
# i.e the slicing keeps the first slice value i.e 1, then subtracts one from the second slice value i.e 3-1,
# therefore producing the resultant slice values as, from the second i.e 1 to the third  i.e 2, showing the new result as basically the results in positions 1 & 2 as below. 


data_select_3 = data.iloc[1:3]
print(data_select_3)

  Firstname Lastname  Age    Hobby  weight  height  bmi
1   joseiah     gong   14   Soccer    56.4    24.8  0.1
2   lincoln  pallete   45  Cycling    59.5    75.6  0.0

In [22]:
# Selecting a range of values from a specific column name using slicing and indexes in python
# in this case it's selecting from the 2nd to the 3rd values of "height" column.

data_select_4 = data.iloc[1:3]["height"]
print(data_select_4)

1    24.8
2    75.6
Name: height, dtype: float64

In [13]:
# checking on the data above again to see if there's any errors by using the print() function inbuilt into python libraries.  

print(data)

  Firstname Lastname  Age    Hobby  weight  height  bmi
0     andre    beans   12  Reading    56.2    21.4  0.1
1   joseiah     gong   14   Soccer    56.4    24.8  0.1
2   lincoln  pallete   45  Cycling    59.5    75.6  0.0
3      matt    renne   56   Coding    60.6    92.4  0.0

In [14]:
# Writing / Saving a copy of the above created data as csv file called "data.csv"

data_csv_file = data.to_csv('data.csv')
print(data_csv_file)

None

In [15]:
# Writing / Saving a copy of the above data as an excel file called "data.xlsx"

data_excel_file = data.to_excel('data.xlsx')
print(data_excel_file)

None